version: '3.1'

services:
  db:
    image: mariadb:latest
    command: --default-authentication-plugin=mysql_native_password
    container_name: db
    restart: always
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    volumes:
      - ./db-dump:/docker-entrypoint-initdb.d
    logging:
      driver: "none"
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin:latest
    depends_on:
      - db
    restart: always
    environment:
      PMA_USER: ${MYSQL_USER}
      PMA_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - 8081:80
    logging:
      driver: "none"
    networks:
      - app-network

  wordpress:
    container_name: wordpress
    build:
      context: ./
      dockerfile: wordpress.docker
    depends_on:
      - db
    restart: always
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
      WORDPRESS_URL: ${URL}
      WORDPRESS_LANG: ${LANG}
    volumes:
      - ./wordpress:/var/www/html
      - ./plugin:/var/www/html/wp-content/plugins/povestka
    logging:
      driver: "none"
    networks:
      - app-network

  webserver:
    depends_on:
      - wordpress
    image: nginx:alpine
    container_name: webserver
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./wordpress:/var/www/html
      - ./nginx-conf:/etc/nginx/conf.d
    networks:
      - app-network

#volumes:
#  wordpress:

networks:
  app-network:
    driver: bridge